body{
  font-family: ms gothic;
  background: url(racooncity.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container1{
  display: grid;
  grid-template-areas: "header header" "nav main" "footer footer"
}

.header{
  grid-area: header;
  text-align: center;
  margin: 0%;
  font-size: 25px;
}

.main{
  grid-area: main;
  text-align: center;
  margin: 0%;
  font-size: 15px;
}

.nav{
  grid-area: nav;
  text-align: center;
  margin: 0%;
  font-size: 15px;
}

.footer{
  grid-area: main;
  text-align: center;
  margin: 0%;
  font-size: 12px;
}
